.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 3vw;
  height: 80%;
  margin-top: 10vh;
  padding-top: 0vh;
}

.resume {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  padding: 2vw;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 90%;
}


.full-size-embed {
  width: 97.4%;
  height: 65vh;
  border: none;
  border-radius: 1vw;
  padding: 1vw;
}

.download-button {
  display: inline-block;
  margin-top: 0vh;
  padding: 1vh 2vw;
  font-size: 1.2rem;
  color: white;
  background-color: #8167a9;
  border: none;
  border-radius: 1vw;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #674f8c;
}

/* Responsive adjustments */
@media (max-width: 720px) {
  .resume-container {
    margin-top: 8vh;
  }

  .resume {
    padding: 1vh;
  }

  .full-size-embed {
    width: 98%;
  }

  .download-button {
    font-size: 1rem;
    padding: 1vh 3vw;
  }
}
