/* src/css/base/base.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  
  html, body {
    height: 100%;
  }
  
/* src/css/components/navbar.css */
.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 5px 0;
  transition: top 0.5s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .navbar-logo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
}

.navbar-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: #212121;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 500ms linear;
}

.nav-link:hover {
  color: #fff;
  background-color: #8167a9;
  transform: scale(1.1);
}

.side-panel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-panel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-panel a:hover {
  color: #f1f1f1;
}

.side-panel .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navbar-collapse.active {
    display: flex;
  }
}

/* src/css/components/background.css */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
  }
  
  @-webkit-keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  
  @keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  
  .content {
	padding: 20px;
	color: white;
  }
  
/* src/css/components/cards.css */
.card {
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 0px;
  position: relative;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #8167a9;
  margin-bottom: 15px;
  text-align: left;
}

.card-paragraph {
  font-size: 1rem;
  font-weight: 550;
  color: #333;
  text-align: left;
  margin-bottom: 10px;
}

.signature {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: 'Great Vibes', cursive;
  font-size: 1.2rem;
  color: #800080;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card p {
  font-size: 1rem;
  color: #333;
  text-align: center;
}

@media (max-width: 1450px) {
  #card1 {
    display: none;
  }
}

@media (max-width: 800px) {
  #card3 {
    display: none;
  }
}

@media (max-width: 900px) {
  #card5 {
    display: none;
  }
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(calc(90deg * var(--spin-direction)));
  }
}

@keyframes reappear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.falling {
  animation: fall 2s cubic-bezier(0.98, 0.02, 1, 1) forwards;
  pointer-events: none;
}

.reappear {
  animation: reappear 1s ease-in forwards;
  pointer-events: all;
}

#card6 .clickable {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

#card6 .clickable::before {
  content: "Click Me!";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
}

#card6 .clickable:hover::before {
  opacity: 1;
}

/* src/css/components/resume.css */
.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 40px;
  margin-top: 20px;
}

.resume {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.full-size-embed {
  width: 100%;
  height: calc(100vh - 260px);
  border: none;
  border-radius: 10px;
}

.download-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #8167a9;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #674f8c;
}

