/* src/css/components/navbar.css */

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: top 0.5s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;  /* Set navbar height to 8% of the viewport height */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .navbar-logo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
}

.navbar-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: #212121;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 500ms linear;
  font-size: 1rem;  /* Smaller font size */
}

.nav-link:hover {
  color: #fff;
  background-color: #8167a9;
  transform: scale(1.1);
}

.side-panel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.5s ease-in-out;  /* Added ease-in-out for smooth transition */
  padding-top: 60px;
}

.side-panel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-panel a:hover {
  color: #f1f1f1;
}

.side-panel .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
}

@media (max-width: 720px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin: 10px 0;
  }
}
