body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212121;
  overflow-x: hidden;
  transition: all 200ms linear;
  margin: 0; /* Remove default margin */
}

html, body {
  height: 100%; /* Ensure the body and html take full height */
}

/* Navbar Styles */
.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 5px 0; /* Reduced padding */
  transition: top 0.5s ease-in-out; /* Smooth transition for hiding/showing */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Set a fixed height for the navbar */
}

.navbar-brand {
  display: flex;
  align-items: center; /* Center the logo vertically */
}

.navbar-brand .navbar-logo {
  height: 50px; /* Adjust size to fit the navbar */
  width: 50px;
  border-radius: 10px; /* Adjust border-radius */
  object-fit: cover; /* Ensure the image covers the box */
}

.navbar-toggler {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
}

.navbar-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 10px; /* Decreased margin */
}

.nav-link {
  text-decoration: none;
  color: #212121;
  font-weight: 700; /* Bold text */
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 500ms linear; /* Half-second transition */
}

.nav-link:hover {
  color: #fff;
  background-color: #8167a9;
  transform: scale(1.1); /* Slight box grow effect */
}

/* Side Panel Styles */
.side-panel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-panel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-panel a:hover {
  color: #f1f1f1;
}

.side-panel .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navbar-collapse.active {
    display: flex;
  }
}
